//CSS for the Menu Button on the Right Side of Screen//
.menu_btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .menu_btn--line{
        width: 28px;
        height: 3px;
        //Top-Right-Bottom-Left//
        margin: 0 0 5px 0;
        background: white;
        @include easeOut;
    }

    //Rotate Into X-Transition
    &.close{
        //transform: rotate(180deg);

        .menu_btn--line{

            &:nth-child(1){
                transform: rotate(45deg)translate(5px,5px);
            }
            //Hide 2nd Line//
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg)translate(6px, -6.5px);
            }
        }
    }




}